  <img class="lazy-image" src="{{ imageUrl(file, true) }}" data-src="{{ imageUrl(file) }}" alt="{{ alt || '' }}"
    @if(file?.width)
    width="{{ file.width }}px"
    @endif
    @if(file?.height)
    height="{{ file.height }}px"
    @endif
    @if(file?.thumbnailStyle)
    style="{{ file.thumbnailStyle || '' }}"
    @endif
    />
