<div id="live-player" class="live-player" style="border-radius: 6px">
    <video id="video" width="960" height="540" controls muted style="border-radius: 6px">
    </video>
    <button class="button" id="video-playbutton">Play</button>
    <button class="button" id="video-mutebutton">Mute</button>
</div>