@layout('layouts/main')
@set('bodyClass', "director-show")

@section('body')
@!component("ui/hero", { title: director.name, subtitle: `Products by ${director.name}`, type: "warning" })
<section>
    <div class="container  py-5">
      @!component('partials/videoList', { videos: videos })
    </div>
  </section>
  <section>
    <div class="container  py-5">
      @!component('partials/pagination', { paginator: videos })
    </div>
  </section>
@end