@layout('layouts/main')
@set('title', 'Home page')

@section('body')
  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title is-3">
        Popular videos
      </p>
      <p class="subtitle">
        Subtitle
      </p>
    </div>
  </section>
@end