@layout('layouts/main')
@set('bodyClass', "director-show")

@section('body')
@!component("ui/hero", { title: title, type: "warning", subtitle: description })
<div class="container  py-5">
    @!component('partials/videoList', { videos })
</div>
<div class="container  py-5">
  @!component('partials/pagination', { paginator: videos })
</div>
@end