@layout('layouts/main')
@set('bodyClass', "director-show")

@section('body')
@!component("ui/hero", { title: title, subtitle: description, type: "warning" })
<div class="container  py-5">
  @!component('partials/videoList', { videos: videos })
</div>
@!component('components/adzone', { zoneID: 'top' })
<div class="container  py-5">
  @!component('partials/pagination', { paginator: videos })
</div>
@end