@layout('layouts/main')
@set('bodyClass', "tag-show")

@section('body')

@!component("ui/hero", { title: tag.name, type: "warning", subtitle: `All video have tagging with ${ tag.name }` })
  <div class="container py-5">
      @!component('partials/videoList', { videos: videos })
  </div>
  <div class="container  py-5">
    @!component('partials/pagination', { paginator: videos })
  </div>
@end