<section class="hero
    @if(type)
        is-{{type}}
    @end
    ">
  <div class="hero-body">
    <div class="container">
      <div>
      <h1 class="title is-4">
        {{title}}
      </h1>

    </div>
    @if(subtitle)
    <p class="subtitle">{{subtitle}}</p>
    @end
    @if(subtitleSecondLine)
    <span>{{subtitleSecondLine}}</span>
    @endif
  </div>
</section>
