<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Copyright 2022 by <a href="{{ route('home') }}">Ponbook.net</a>. All Rights Reserved.
        </p>
    </div>
</footer>