
<div class="columns is-multiline is-mobile is-tablet is-desktop is-widescreen listings__container">
    @each(video in videos)
      <div class="column is-half-mobile is-one-quarter-tablet is-2-desktop">
        @!component('components/listing', { video })
      </div>
    @end
</div>