<div class="columns is-multiline is-mobile is-tablet is-desktop is-widescreen">
    @each(video in videos)
      <div class="column is-half-mobile is-one-third-tablet is-3-desktop is-2-widescreen">
        @!component('partials/videoItem', { video })
      </div>
    @end
</div>