<div class="navbar-item has-dropdown">
    <span class="navbar-link is-arrowless">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
    </span>
    <div class="navbar-dropdown is-boxed is-right">
        <span class="navbar-item">
            No notifications
        </span>
    </div>
</div>