<p class="control is-hidden-desktop">
  <a id="search-btn" class="button is-primary is-small js-modal-trigger" data-target="search-modal">
      <i class="fa fa-search" aria-hidden="true"></i>
  </a>
</p>