@layout('layouts/admin')
@set('title', "Dashboard")

@section('body')
<section class="hero is-warning">
    <div class="hero-body">
        <h1 class="title is-3">
            Dashboard
        </h1>
    </div>
</section>
@end