@layout('layouts/admin-setting')
@set('title', "Information")

@section('breadcrumbs')
<li ><a href="{{ route("admin.settings.index") }}" >Settings</a></li>
<li class="is-active"><a href="#" aria-current="page">Information</a></li>
@end

@section('body')
<section>
    <div class="container is-fluid py-5">
        
    </div>
</section>
@end