@charset "utf-8";

@import './variables';
@import './extends';
@import 'bulma';
@import './overrides';
@import './utils';

.boxes {
  padding: 1rem $padding;
  border-radius: $input-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border: none;
  margin-bottom: 2rem;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.video__cover {
  img {
    border: 3px solid $primary;
    border-radius: $input-radius;
  }
}

// SideMenu
.menu.sidemenu__container {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100dvh;
  width: 100vw;
  background-color: white;
  z-index: 20;
  padding: 0.5rem;
  padding-top: 4rem;
  right: -100vw;
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;

  @include from(769px) {
    display: none;
  }

  &.is-active {
    right: 0px;
  }

  .menu-label {
    font-weight: bold;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .menu-list li a {
    color: $navi;
    font-weight: bold;

    &:hover {
      background-color: $grey-light;
      color: $navi;
    }
  }

  .sidemenu__footer {
    color: $navi;
    padding: 4rem 0.8rem;
  }
}

// Form
.form__container {
  width: 100%;
  @include from(769px) {
    padding: 0 20%;
  }
}

// Listing
.listings__container {
  &.is-hidden-last-child {
    @include until($mobile-md) {
      .column:nth-last-of-type(-n + 2) {
        display: flex;
      }
    }

    @include from($tablet) {
      .column:nth-last-of-type(-n + 2) {
        display: none;
      }
    }

    @include from($desktop) {
      .column:nth-last-of-type(-n + 2) {
        display: flex;
      }
    }
  }
}

.listing__container {
  padding: 0;
  border-radius: $input-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border: none;
  padding: 0.5rem;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .inner-image img {
    border-radius: $input-radius;
  }

  .listing__content {
    display: flex;
    flex-direction: column;
    padding: 2px;

    .listing__code {
      width: 100%;
      font-weight: bold;
      font-size: 1rem;
    }

    // truncate 2 lines
    .listing__title {
      width: 100%;
      font-weight: bold;
      font-size: 0.7rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .listing__released-date {
      font-size: 0.8rem;
      font-weight: bold;
      width: 100%;
    }
  }
}

// Image viewer
.owl-carousel {
  .owl-stage {
    display: flex;
  }

  .owl-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: initial;
  }

  .owl-nav {
    position: absolute;
    top: -25px;
    right: 0;
    .slide-nav-button {
      padding: 3px 8px;

      &:hover {
        background: #e1e1e1;
        color: #333;
      }
    }

    .owl-next.disabled,
    .owl-prev.disabled {
      .slide-nav-button {
        color: #787878;
      }
    }
  }
}

.image-preview__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .image-preview__item {
    height: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
}
