$image-height: 160px;

.listing__container {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;

  .card-code {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .card-image {
    flex-basis: 40%;
    padding: 0;
  }

  .inner-image {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 100%;
    height: $image-height;
    max-height: $image-height;

    img {
      height: 100%;
      width: auto;
    }
  }

  .card-content {
    display: inline-flex;
    flex-direction: column;
    flex-basis: 60%;
    padding: 0;

    .content {
      margin: 0;
      flex-grow: 1;
    }
  }

  .content-title {
    font-size: 0.6rem;
    font-weight: 500;
  }

  .card-time {
    font-size: 0.7rem;
    font-weight: 500;
  }

  .card-action {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;

    .is-action {
      box-shadow: none;
      border-width: 1px;
      padding: 8px;
      height: 1.3rem;
    }
  }

  @include from($tablet) {
    .card-code {
      font-size: 1rem;
    }
    .content-title {
      font-size: 0.7rem;
    }
  }
}

.h-listings__container {
  @include until($tablet) {
    .column {
      padding: 0.4rem;
    }
  }
}

