.container {
  max-width: 100%;

  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}

// @mixin until($tablet) {
//   .listings__container {
//     margin: 0;
//     .column {
//       padding: 0.3rem;
//     }
//   }
// }
