.is-mobile-padding-1 {
  padding: 1rem;

  @include from($tablet) {
    padding: 0;
  }
}

.is-horizontal-spacing {
  display: flex;
  flex-grow: 1;
}

.image.lazy{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    object-fit: cover;
    filter: blur(4px);
  }

  &.loaded {
    filter: none;
    background-image: none !important;

    img {
      filter: none;
    }
  }
}
