.is-truncate-2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 1.8rem;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.is-truncate-4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 4.5rem;

  @supports (-webkit-line-clamp: 4) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
