@layout('layouts/profile')

@section('body')
<div class="box">
    <h3 class="title is-4">Profile {{ profile.username }}</h2>
    @if(isMe)
    <h4>it me</h4>
    @end
    <div class="timeline">
        <header class="timeline-header">
          <span class="tag is-medium is-primary">Start</span>
        </header>
    </div>
</div>
@end