<meta property="og:type" content="article" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ request.completeUrl() }}" />
@if (metaImage)
<meta property="og:image" content="{{ env('APP_DOMAIN') }}{{ metaImage }}" />
@end
