    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ponbook" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    @if(metaImage)
    <meta name="twitter:image" content="{{ env('APP_DOMAIN') }}{{ metaImage }}" />
    @end