<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="title" content="{{ title || "Ponbook" }} - Ponbook.net">
    <meta name="description" content="{{ excerpt(description, 120) }}">

    @!include('partials/meta/keyword')
  
    <meta name="twitter:card" content="{{ description }}" /> 
    <meta name="twitter:site" content="ponbook.net" />
    <meta name="twitter:creator" content="Ponbook" />

    <title>{{ title || "Ponbook" }} - Ponbook.net</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" defer/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet" type="text/css" defer>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}" defer>
    <script src="{{ asset('assets/jQuery.js') }}"></script> 
    <script defer src="{{ asset('assets/common.js') }}"></script> 
    @if(env('NODE_ENV') == 'production')
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8M78633QL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X8M78633QL');
    </script>
    @end
    @!section('head')
    <style>
      html {
        overflow: hidden;
      }
    </style>
  </head>
  <body class="{{ bodyClass || '' }}">

    @include('partials/navbar')

    @!section('body')
     
    @include('partials/footer')
    <script>
      const BASE_URL = '{{ env('APP_DOMAIN') }}';
    </script>
    <script src="{{ asset('assets/app.js') }}"></script>
    <script type="text/javascript" src="https://js.juicyads.com/jp.php?c=34d4z213p254u4q2w2c4z2a474&u=https%3A%2F%2Fwww.liquidfire.mobi%2Fredirect%3Fsl%3D16%26t%3Ddr%26track%3D185704_286256%26siteid%3D286256" defer></script>
    @!section('script-links')
    @!section('scripts')
  </body>
</html>