<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0">
  <meta name="title" content="{{ title || " Ponbook" }} - Ponbook.net">
  <meta name="description" content="{{ excerpt(description, 120) }}">

  @!include('partials/meta/keyword')

  @!include('partials/meta/og')
  @!include('partials/meta/twitter')

  <title>{{ title || "Ponbook" }} - Ponbook.net</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" defer />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet"
    type="text/css" defer>
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}" defer>
  <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/prebid-ads.js') }}"></script>
  <script defer src="{{ asset('assets/common.js') }}"></script>
  @if(env('NODE_ENV') == 'production')
  <script defer src="/js/prebid-ads.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8M78633QL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X8M78633QL');
  </script>
  @end
  @!section('head')
  <style>
    html {
      overflow: hidden;
    }
  </style>
</head>

<body class="{{ bodyClass || '' }} has-navbar-fixed-top">

  @include('partials/navbar')

  @!section('body')

  @include('partials/modal')
  @include('partials/footer')
  <script src="{{ asset('assets/app.js') }}"></script>
  <script src="{{ asset('assets/search-modal.js') }}"></script>
  <script src="{{ asset('assets/add-to-box-modal.js') }}"></script>
  @!section('script-links')
  @!section('scripts')
  <script type="text/javascript">
    @if(auth.isLoggedIn)
      const IS_LOGGED_IN = true;
    @else
      const IS_LOGGED_IN = false;
    @endif
  </script>
  @if(env('NODE_ENV') === 'production')
  <script type="text/javascript">
    var juicy_tags = ['a', 'img'];
  </script>
  <script type="text/javascript"
    src="https://js.juicyads.com/jp.php?c=34d4z213p254u4q2w2c4z2a474&u=https%3A%2F%2Fponbook.net"></script>
  @end
</body>

</html>