<!DOCTYPE html>
<html lang="{{ i18n.locale }}">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0">
    <meta name="title" content="{{ title || "Ponbook" }} - Ponbook.net">
    <meta name="description" content="{{ excerpt(description, 120) }}">

    @!include('partials/meta/keyword')
  
    @!include('partials/meta/og')
    @!include('partials/meta/twitter')

    <title>{{ title || "Ponbook" }} - Ponbook.net</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" defer/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet" type="text/css" defer>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}" defer>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script> 
    <script defer src="{{ asset('assets/common.js') }}"></script> 
    <script defer src="/js/prebid-ads.js"></script> 
    @if(env('NODE_ENV') == 'production')
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8M78633QL"></script>
    <script async src="https://cdn.jsdelivr.net/npm/blockadblock@3.2.1/blockadblock.min.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X8M78633QL');
    </script>
    @end
    @!section('head')
    <style>
      html {
        overflow: hidden;
      }
    </style>
  </head>
  <body class="{{ bodyClass || '' }}">

    @include('partials/navbar')
    <div id="adnotificaton" class="px-4 pt-4 pb-0" style="display: none">
      <div class="notification is-danger" style="font-size: 14px; padding: 8px">
        Please disable your ad blocker to support us. Relevant and appropriate ads help us to keep the site running. Thank you!
      </div>
    </div>

    @!section('body')
     
    @include('partials/footer')
    <script>
      const BASE_URL = '{{ env('APP_DOMAIN') }}';
      const juicy_tags = ['a', 'img'];
    </script>
    <script src="{{ asset('assets/app.js') }}"></script>
    @!section('script-links')
    @!section('scripts')
    @if(env('NODE_ENV') === 'production')
    <script src="https://wmpuem.com/pu/?target=fslf&site=jasmin&psid=vulai2022&pstool=300_18&psprogram=revs&campaign_id=&category=couple&filters=&subaffid={SUBAFFID}&width=1100&height=764&cap=24&ms_notrack=1"></script>
    @end
  </body>
</html>