<article id="banner-message" class="message is-danger">
    <div class="message-body">
        <div class="container">
            <p>Sorry, our website uses ads to sustain its operation. However, your adblocker is currently blocking ads
                on our website. Please turn off your adblocker to support us.</p>
            <p>Thank you for visiting our website!</p>
        </div>
    </div>
</article>