<div class="is-hidden-mobile is-flex-tablet is-flex-direction-column">
    <a class="image-banner" href="https://join.japanhdv.com/track/MTAwMzY3LjIuMTAuMTAuMC4wLjAuMC4w" target="_blank"
        referrerpolicy="origin">
        <img style="width: 100%; max-width:300px" src="https://cdn.ponbook.net/banners/19818_name.gif" alt="JapanHDV"
            width="300px" height="100px" />
    </a>
    <a class="image-banner" href="https://join.tenshigao.com/track/MTAwMzY3LjIuMTYuMTYuMC4wLjAuMC4w" target="_blank"
        referrerpolicy="origin">
        <img style="width: 100%; max-width:300px" src="https://cdn.ponbook.net/banners/19820_name.gif" alt="Tensigao"
            width="300px" height="100px" />
    </a>
    <a class="image-banner" href="https://join.tenshigao.com/track/MTAwMzY3LjIuMTYuMTYuMC4wLjAuMC4w" target="_blank"
        referrerpolicy="origin">
        <img style="width: 100%; max-width:300px" src="https://cdn.ponbook.net/banners/18446_name.jpg" alt="Tensigao"
            width="300px" height="100px" />
    </a>

    <div id="stripchat-banner" class="image-banner">
        <img style="width: 100%; max-width:300px" src="https://cdn.ponbook.net/banners/stripchat.webp" alt="Stripchat"
            width="300px" height="250px" />
    </div>
</div>